.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-bg);
  font-family: var(--font-default);
}

.card {
  width: 100%;
  max-width: 420px;
  background-color: var(--color-bg-panel);
  color: var(--color-text);
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
}

.input {
  background-color: var(--color-input);
  color: var(--color-text);
  border: 1px solid var(--color-secondary);
  border-radius: var(--radius);
}

.input::placeholder {
  color: var(--color-text-placeholder);
}

.input:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-input);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.button {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  border-radius: var(--radius);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.link {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
