.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: var(--color-bg-panel);
  color: var(--color-text);
  border-radius: 10px;
  padding: 2rem;
  min-width: 300px;
  max-width: 90%;
  max-height: 90vh;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-in {
  animation: fadeIn 0.2s ease-out;
}
