.button {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.2rem;
  border-radius: var(--radius);
}

.button--primary {
  background-color: var(--color-button-primary);
  color: var(--color-white);
  border: 1px solid var(--color-button-primary);
}

.button--primary:hover {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-button-primary);
}

.button--danger {
  background-color: var(--color-button-danger);
  color: var(--color-white);
  border: 1px solid var(--color-button-danger);
}

.button--danger:hover {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-button-danger);
}

.button--success {
  background-color: var(--color-button-success);
  color: var(--color-dark);
  border: 1px solid var(--color-button-success);
}

.button--success:hover {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-button-success);
}
