.App {
  text-align: center;
  font-family: "Lexend", sans-serif;
  color: #FFFFFF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.App-header {
  color: #FFFFFF;
}


/* Input */
.App input {
  background-color: #1C1F26;
  border: 1px solid #3D4054;
  color: #FFFFFF;
}

.App input:focus {
  background-color: inherit;
  color: #FFFFFF;
}

.App-main {
  flex-grow: 1;
}